<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <span class="navbar-brand">File Cabinet</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/files">Files</a>
      <a class="nav-item nav-link" routerLink="/tags">Tags</a>
      <a class="nav-item nav-link" routerLink="/signin"> Sign In</a>
      <a class="nav-item nav-link" routerLink="/signup"> Sign Up</a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
